.menu_wrapper{
  position: absolute;
  width: 240px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparentize(#000, .5);
  z-index: 2;
  transform: translateX(-100%);
  transition: all .2s linear;

  .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    width: 100%;
    height: 100%;
    background: $blackColor;
    transition: all 8s ease-in-out;

    .menu_items {
       margin-top: 160px;

      li{
        margin: 0 auto 40px auto;
        width: 100%;

        span{
          display: inline-block;
          font-size: 0.8em;
          margin-left: 20px;
          font-weight: normal;
          color: $whiteColor;
        }

        a{
          display: inline-block;
          font-weight: bold;
          font-size: 1em;
          margin-left: 20px;
          color: $grayColor;
          cursor: pointer;
          transition: all .3s linear;

          &:hover{
            color: $whiteColor;
            border-bottom: 1px solid $whiteColor;
            padding-bottom: 1px;
          }

        }

      }//end li

    }//end menu-items

    .menu_bottom{
      width: 160px;
      text-align: center;

      h6{
        font-size: 0.6em;
        font-weight: bold;
        color: $whiteColor;
        text-transform: uppercase;
        margin-bottom: 20px;
      }//h6

      .menu_icons {
        margin-bottom: 60px;

        li{
          display: inline-block;
          margin-right: 14px;
        }
        
      }//end menu-icons

      .menu_bottom_text{
        font-size: 0.73em;
        width: 100%;
      }

    }//end menu-bottom

  }// end menu

  &.open{
    transform: translateX(0%);
  }

}//end menu-wrapper
