.popup{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);

  .popup_box{
    position: fixed;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $blackColor;

    .popup_close{
      margin: 30px 30px 0 0;
    }

    .popup_text{
      width: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      h4{
        font-size: 1.6em;
        font-style: italic;
        text-align: center;
        margin-bottom: 80px;
        margin-top: 0;
      }

      .popup_chapters li{
        display: block;
        line-height: 2;
        padding: 20px 0 50px 0;
        text-align: center;
        transition: all .7s linear;

          &:hover{
            background-color: $darkGrayColor;
          }

        a{
          
          h5{
            font-family: 'superclarendon', sans-serif;
            font-size: 1.3em;
          }

          .popup_divider{
            width: 14px;
            border: 2px solid $whiteColor;
          }

        }

      }//end popup_chapters

    }//end popup-text

  }//end popup-box

}// end popup
