* {
  box-sizing: border-box;
}

body,
html {
  position: relative;
  font-size: 15px;
  font-family: 'Georgia', sans-serif;
  font-weight: normal;
  line-height: 1.6;
  overflow-x: hidden;

  li,
  ol,
  ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $whiteColor;

    &:hover {
      text-decoration: none;
      color: $grayColor;
    }
  }

  .container-fluid {
    height: 100%;
  }

  .header_menu_icon {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 80px;
    z-index: 100;

    .menu_icon {
      display: inline-block;
      width: 30px;
      height: 15px;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      opacity: 1;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $whiteColor;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        cursor: pointer;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 8px;
        }

        &:nth-child(4) {
          top: 16px;
        }
      }

      &.open span:nth-child(1) {
        display: none;
        top: 18px;
        width: 0;
        left: 50%;
      }

      &.open span:nth-child(2) {
        transform: rotate(45deg);
      }

      &.open span:nth-child(3) {
        transform: rotate(-45deg);
      }

      &.open span:nth-child(4) {
        display: none;
        top: 18px;
        width: 0;
        left: 50%;
      }
    }

    span {
      font-size: 0.8em;
      font-weight: normal;
      color: $whiteColor;
      padding: 0 10px;
    }
  }
  // end header-menu-icon

  .header_social_icons {
    margin-top: 50px;

    li {
      display: inline-block;
      padding-left: 10px;
      cursor: pointer;
    }

    .hidden_icon {
      opacity: 0;
    }
  }
  //end header_social_icons

  .btn {
    width: 230px;
    padding: 10px 40px;
    font-size: 0.73em;
    text-transform: uppercase;
    text-align: center;
    color: $blackColor;
    border: 1px solid $blackColor;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #111111;
      color: $whiteColor;
    }
  }
  //end btn
}
// end body
